.app__container {
  height: 100vh;
}

.application_list-container {
  margin-top: 20px;
  // height: 100%;
  flex: 1 1 auto;
  // @include b_tomato;
  display: flex;
  flex-direction: column;
}

.application_list-password {
  user-select: text;

  &-action {
    display: flex;
    justify-content: space-between;
  }
}

.insert-form__controls-space {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}


// ant overrides
.ant.table.content {
  background-color: black;
}

.application-list__table {
  // background-color: red;

}


.ant-spin-nested-loading {
  // background-color: red;
  // border: 1px solid red;
}

.ant-table-wrapper.application-list__table {
  // background-color: red;
  // border: 1px solid red;
}

.ant-table-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid magenta;
}

.ant-spin-nested-loading {
  height: 100%;
  display: flex;

  .ant-spin-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.ant-table {
  // border: 1px solid brown;
}

.ant-pagination.ant-table-pagination {
  // background-color: red;
  // margin-top: auto;
  // border: 1px solid orange;
}



.application-list-edit-tooltip {
  // display: none;
  // animation: hideToUp .3 ease-in forwards;

  &--show {
    // animation: showFromUp .3 ease-in  forwards;

  }
}

.application-list-del-tooltip {


  &--show {

  }
}


@keyframes hideToUp {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes showFromUp {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hideToDown {
  0% {
    transform: translateX(0);
    width: 170px;
  }
  50% {
    transform: translateX(5%);
    width: calc(170px + 5%);
  }

  100% {
    transform: translateX(-100%);
    width: 0px;
  }
}

@keyframes showFromDown {
  0% {
    transform: translateX(-100%);
    width: 0;
  }
  50% {
    transform: translateX(5%);
    width: calc(170px + 5%);
  }

  100% {
    transform: translateX(0);
    width: 170px;
  }
}
