.formContainer {
  width: 350px;
}

.formContainer fieldset {
  display: flex;
  justify-content: space-between;
}

.formContainer .action {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}


