$gunmetal: #292F36;
$onyx: #36393B;
$jet: #484349;
$charcoal: #464655;

$cherry-blossom-pink: #F7B2B7;
$light-coral: #F7717D;
$lavender-pink: #FFB8DE;


$uranian-blue: #A5D8FF;


$mellon: #F7AF9D;
$yellow-peach: #F2D492;
$yellow-naples: #F4D35E;


$persian-green: #1EA896;
$tropical-indigo: #7F7EFF;

$snow: #F7F0F0;
$white_one: #fffdfb;